.OtherTextMargin {
  margin-top: 30px;
  border: 1px solid black;
  outline: 2px solid black;
  outline-offset: 5px;
}

.IconSize {
  font-size: 34px;
}

.OtherTextStyle {
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 15.4px;
  color: #000000;
  font-weight: bold;
}
